.table {
  font-size: 1.5em;
}
.table_container{
  padding-left: 3%;
  padding-right: 3%;
}
.price_color{
  color:#A86082;
  font-size: 1.2em;
  font-style: italic;
  font-weight:bold;
}
.zagolovok_price{
  font-size: 1.4em;
  color: #A86082;
}

@media screen and (max-width: 767.5px) {
  .table {
      font-size: 1em;
  }
}