.SL {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
}
.slsl img {
    width: 90%;
    margin-left: 3%;
}

.slick-prev:before, .slick-next:before {
    color:#791a68ed !important;
}


.slick-slide img {
    opacity: 0;
    transition:3s;
}
.slick-current img {
    opacity: 1;
}